* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url("https://wallpaperaccess.com/full/4174435.jpg");
    width: 100%;
    height: 100vh;
    background-position: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: rgb(41, 36, 36);
    

}

.bg h1 {
    color: rgb(53, 53, 53);
    margin-bottom: 20px;
    
}

.bg div {
    margin-left: 20px;
    border: 1px solid rgb(80, 80, 80);
    padding: 80px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.068);
}

.bg form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20pt;
    font-weight: 900;
}

.bg form input {
    height: 40px;
    background-color: rgba(51, 51, 51, 0.11);
    border:none;
    border-radius: 20px;
    padding: 10px;
    font-size: 12pt;
}

.bg form button {
    margin:20px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    background-color: rgb(12, 12, 12);
    color: white;
    transition: 0.3s ease-in;
}

.bg form button:hover {
    transform: scale(1.1);
    background-color: rgb(82, 82, 82);
    color: rgb(236, 236, 236);
    cursor: pointer;
}


.bg ul {
    list-style: none;    
}

.bg ul li a {
    color: aliceblue;
    font-size: 20pt;
    text-decoration:underline;
    transition: 0.2s ease-in;
    
}

.bg ul li a:hover {
    color: rgb(58, 58, 58);
}

