*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maior{
    
    width: 100%;
    height: 100vh;
    background-image:url("https://cdn.wallpapersafari.com/3/93/ckiPtJ.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}
.login{
    padding: 50px;
    background-color: rgba(247, 232, 159, 0.459);
    width: 310px;
    border-radius: 3%;
    margin-left: 20px;
    color: rgb(100, 60, 14);

}
input{
    height: 40px;
    background-color: rgba(235, 136, 6, 0.479);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 12pt;
    
}
.botao{
    padding: 10px;
    text-align: center;
    
}

.botao button {
    background-color: rgba(235, 136, 6, 0.479);
    border: none;
    padding: 5px;
    transition: 0.3s;
    border-radius: 5%;
}
.botao button:hover{
    background-color:rgba(46, 37, 6, 0.555) ;
    cursor: pointer;
    color: aliceblue;
}