.box{
    
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box div{
   display: flex; 
}
.box div span{
    font-size: 20pt;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.box div input{
    margin : 10px;
    background-color: rgba(24, 21, 21, 0.466);
    
    
}
