/*
Seu desafio é atribuir elementos da claasse main, square e square 2

SQUARE 1; 

1. A div deve ser um quadrado formado por 60 x 60 px
2. A div deve ter as bordas arredondadas
3.A div deve ser Vermelha
4. ao passar o mouse em cima da div ela deve mudar 
a coloração para azul

Square 2;
1.A div deve ser um quadrado formado por 60px x 60px
2.A div ter uma borda preta de 1px arrendondada
3.A div deve ser Roxa
4.O texto deve ficar no centro

A main deve ter um espaço entre os elementos e estilizar eles;

*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: aquamarine;
}
.box {
    width: 200px;
    height: 200px;  
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

